@model IEnumerable<string>;

<div class="text-center">
    <h1 class="display-4">Content</h1>
    <p>View the content of the files below:</p>
    <ul>
        @foreach (var line in @Model)
        {
            <li><p>@line</p></li>
        }
    </ul>

</div>